@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

#SideNavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  align-items: center;
  background-color: #C6EDE6;
  height: 100vh;
  width: auto;
  font-family: 'Space Mono', monospace;
  font-size: 40px;

  #BioLink {
    text-decoration: none;
    // font-size: 40px;

    &:hover {
      color: rgb(99, 172, 156);
    }
  }

  #ProjectsLink {
    text-decoration: none;
    // font-size: 40px;

    &:hover {
      color: rgb(99, 172, 156);
    }
  }

  #ContactLink {
    text-decoration: none;
    // font-size: 40px;

    &:hover {
      color: rgb(99, 172, 156);
    }
  }

  #BikeIcon {
    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 900px) {
    font-size: 24px;
  }
}
