@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

#sideNavBar {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgba(196, 255, 254, 0.358);
  height: 100vh;
  width: 100vw;
  font-family: 'Space Mono', monospace;

  #bioLink {
    padding: 15% 48%;
    text-decoration: none;
    font-size: 40px;

    &:hover {
      color: rgb(99, 172, 156);
    }
  }

  #projectsLink {
    padding: 22% 43%;
    text-decoration: none;
    font-size: 40px;

    &:hover {
      color: rgb(99, 172, 156);
    }
  }

  #contactLink {
    padding: 18% 45%;
    text-decoration: none;
    font-size: 40px;

    &:hover {
      color: rgb(99, 172, 156);
    }
  }
}
