.BikeBlog {
  background-color: #82a24c;
  height: 20vh;
  font-family: 'Space Mono', monospace;
  font-size: 26;
  text-align: center;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  #GoalsList {
    list-style-type: none;
    left: 50%;
    top: 50%;
  }
}
