.BikeBlog {
  background-color: #82a24c;
  height: 8vh;
  font-family: 'Space Mono', monospace;
  font-size: 26;
  text-align: center;
  align-items: center;
  padding: 5px;

  #GoalsList {
    align-items: center;
  }

  @media (max-width: 850px) {
    height: auto;
    width: 100vw;
    text-align: center;
    padding:5px;

  }
}
