@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#BikeHomeBG {
  font-family: Space Mono;
  background-color: #82a24c;

  #BikePhoto {
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    #StravaWidget {
      position: absolute;
      right: 7%;
      top: 12%
    }
}

  @media screen and (min-width: 300px) and (max-width: 850px) {
    #BikePhoto {
      // visibility: hidden;
      height: 84vh;
      background-position: 35% 75%;
      width: auto;
    }

    #StravaWidget {
      position: relative;
      visibility: hidden;
      height: 7%;
      top: 12%
    }
  }
}
