@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#BikeHomeBG {
  font-family: Space Mono;
  background-color: #82A24C;
  overflow: hidden;

  #BikePhoto {
    height: 100vh;
    width: 100vw;
  }

}
