@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

#BioPageBG {
  // for 15" and larger screens
  @media screen and (min-width: 1601px) {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../../Public/Images/bio-bg.png');
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    #BioCard {
      height: 40vh;
      width: 35vw;
      background-color: #c9ffe5;
      position: absolute;
      border-radius: 30px;
      top: 6%;
      left: 10%;
      bottom: 10%;
      padding-top: 3%;
      padding-bottom: 7%;

      #BioTitle {
        align-self: center;
        margin: auto;
        width: fit-content;
      }

      #BioText {
        text-align: center;
        font-size: 22px;
      }
    }

    #SkillsCard {
      height: 44vh;
      width: 28vw;
      background-color: #b0ded8;
      position: absolute;
      border-radius: 30px;
      top: 7.5%;
      left: 60%;
      bottom: 10%;
      padding-top: 3%;
      padding-right: 2%;
      padding-bottom: 3%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .SkillsTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
      }

      #SkillsList {
        list-style-type: none;
        font-size: 21px;
        align-self: center;
        text-align: center;
        // width: fit-content;
      }
    }

    #WorkCard {
      height: 25vh;
      width: 76vw;
      background-color: #96bdcc;
      position: absolute;
      border-radius: 30px;
      top: 70%;
      // padding-bottom: 1%;

      #WorkTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
      }

      #WorkText {
        font-size: 21px;
        align-self: center;
        text-align: center;
      }
    }
  }

  // for 12" - 15" screen
  @media screen and (min-width: 1450px) and (max-width: 1600px)  {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../../Public/Images/bio-bg.png');
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    #BioCard {
      height: 55vh;
      width: 40vw;
      background-color: #c9ffe5;
      position: absolute;
      border-radius: 30px;
      top: 6%;
      left: 6%;
      bottom: 10%;
      padding-left: 2%;
      padding-right: 2%;

      #BioTitle {
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 26px;
      }

      #BioText {
        text-align: center;
        font-size: 22px;
      }
    }

    #SkillsCard {
      height: 55vh;
      width: 30vw;
      background-color: #b0ded8;
      position: absolute;
      border-radius: 30px;
      top: 6%;
      left: 58%;
      bottom: 10%;
      padding-left: 2%;
      padding-right: 2%;
      // padding-bottom: 2%;

      .SkillsTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 26px;

      }

      #SkillsList {
        list-style-type: none;
        font-size: 21px;
        align-self: center;
        text-align: center;
      }
    }

    #WorkCard {
      height: 25vh;
      width: 76vw;
      background-color: #96bdcc;
      position: absolute;
      border-radius: 30px;
      top: 70%;
      padding-bottom: 1%;

      #WorkTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 24px;
      }

      #WorkText {
        font-size: 20px;
        align-self: center;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 1221px) and (max-width: 1449px)  {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../../Public/Images/bio-bg.png');
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    #BioCard {
      height: 38vh;
      width: 40vw;
      background-color: #c9ffe5;
      position: absolute;
      border-radius: 30px;
      top: 7%;
      left: 7%;
      bottom: 10%;
      padding-bottom: 8%;
      padding-left: 2%;
      padding-right: 2%;

      #BioTitle {
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 23px;
      }

      #BioText {
        text-align: center;
        font-size: 18px;
      }
    }

    #SkillsCard {
      height: 42vh;
      width: 30vw;
      background-color: #b0ded8;
      position: absolute;
      border-radius: 30px;
      top: 6%;
      left: 60%;
      bottom: 10%;
      padding-left: 2%;
      padding-bottom: 7%;
      padding-right: 2%;

      .SkillsTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 22px;
      }

      #SkillsList {
        list-style-type: none;
        font-size: 18px;
        align-self: center;
        text-align: center;
      }
    }

    #WorkCard {
      height: 22vh;
      width: 76vw;
      background-color: #96bdcc;
      position: absolute;
      border-radius: 30px;
      top: 70%;
      padding-bottom: 3%;

      #WorkTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 22px;

      }

      #WorkText {
        font-size: 18px;
        align-self: center;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 961px) and (max-width: 1223px)  {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../../Public/Images/bio-bg.png');
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    #BioCard {
      height: 45vh;
      width: 40vw;
      background-color: #c9ffe5;
      position: absolute;
      border-radius: 30px;
      top: 5.5%;
      left: 10%;
      bottom: 10%;
      padding-bottom: 6%;
      padding-left: 2%;
      padding-right: 2%;

      #BioTitle {
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 20px;
      }

      #BioText {
        text-align: center;
        font-size: 16px;
      }
    }

    #SkillsCard {
      height: 58vh;
      width: 30vw;
      background-color: #b0ded8;
      position: absolute;
      border-radius: 30px;
      top: 4%;
      left: 62%;
      bottom: 10%;
      padding-left: 2%;
      padding-right: 2%;

      .SkillsTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 20px;
        padding-bottom: 20px;
      }

      #SkillsList {
        list-style-type: none;
        font-size: 16px;
        align-self: center;
        text-align: center;
        padding-top: 10px;
      }
    }

    #WorkCard {
      height: 25vh;
      width: 76vw;
      background-color: #96bdcc;
      position: absolute;
      border-radius: 30px;
      top: 66%;
      padding-bottom: 3%;

      #WorkTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 20px;

      }

      #WorkText {
        font-size: 16px;
        align-self: center;
        text-align: center;
      }
    }
  }

  // for phones
  @media screen and (min-width: 375px) and (max-width: 960px)  {
    
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    #BioCard {
      height: auto;
      width: 100vw;
      background-color: #c9ffe5;

      #BioTitle {
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 22px;
      }

      #BioText {
        text-align: center;
        font-size: 18px;
      }
    }

    #SkillsCard {
      height: auto;
      width: 100vw;
      background-color: #b0ded8;

      .SkillsTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 22px;
      }

      #SkillsList {
        list-style-type: none;
        font-size: 18px;
        margin: auto;
        align-self: center;
        text-align: center;
      }
    }

    #WorkCard {
      height: auto;
      width: 100vw;
      background-color: #96bdcc;

      #WorkTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 22px;

      }

      #WorkText {
        font-size: 18px;
        align-self: center;
        text-align: center;
      }
    }
  }

  // for tablets 
  @media screen and (min-width: 768px) and (max-width: 960px)  {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    #BioCard {
      height: auto;
      width: 100vw;
      background-color: #c9ffe5;

      #BioTitle {
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 26px;
      }

      #BioText {
        text-align: center;
        font-size: 22px;
      }
    }

    #SkillsCard {
      height: auto;
      width: 100vw;
      background-color: #b0ded8;

      .SkillsTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 26px;
      }

      #SkillsList {
        list-style-type: none;
        font-size: 22px;
        margin: auto;
        align-self: center;
        text-align: center;
      }
    }

    #WorkCard {
      height: auto;
      width: 100vw;
      background-color: #96bdcc;

      #WorkTitle {
        text-align: center;
        align-self: center;
        margin: auto;
        width: fit-content;
        font-size: 26px;

      }

      #WorkText {
        font-size: 21px;
        align-self: center;
        text-align: center;
      }
    }
  }

}

// #BioPageBG {
//   height: 100vh;
//   width: 100vw;
//   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
//     url('../../Public/Images/bio-bg.png');
//   font-family: 'Space Mono', monospace;
//   font-weight: 700;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;

//   #BioCard {
//     height: 40vh;
//     width: 40vw;
//     background-color: #c9ffe5;
//     position: absolute;
//     border-radius: 25px;
//     top: 10%;
//     right: 10%;
//     left: 10%;
//     bottom: 10%;
//     flex: 50%;

//     #BioTitle {
//       align-self: center;
//       margin: auto;
//       width: fit-content;
//     }

//     #BioText {
//       text-align: center;
//       font-size: 22px;
//     }

//     #SkillsCard {
//       height: 40vh;
//       width: 40vw;
//       background-color: #c9ff;
//       position: absolute;
//       border-radius: 25px;
//       top: 10%;
//       right: 10%;
//       left: 60%;
//       bottom: 10%;
//       flex: 50%;

//       .SkillsTitle {
//         align-self: center;
//         margin: auto;
//         width: fit-content;
//       }

//       #SkillsList {
//         list-style-type: none;
//         font-size: 21px;
//         text-align: center;
//       }
//     }
//   }
// }
