@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

#ContactPage {
  height: 100vh;
  width: 100vw;
  background-color: #96bdcc;
  overflow: hidden;
  position: relative;
  font-family: 'Space Mono', monospace;

  #Header {
    height: 27vh;
    position: absolute;
    left: 70%;

    

    #Icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 30px;

      #DevToIcon {
        height: 75px;
        width: 75px;
      }

      #OctoCatIcon {
        height: 75px;
        width: 75px;
      }

      #StravaIcon {
        height: 75px;
        width: 150px;
        padding-left: 5px;
      }

      #RWGPSIcon {
        height: 75px;
        width: 75px;
        padding-left: 5px;
      }
    }
  }

  #LowerBG {
    background-color: #c9ffe5;
    height: 73vh;
    width: 100vw;
    position: absolute;
    top: 27%;
  }

  #ContactForm {
    height: 65vh;
    width: 50vw;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9ffe5;

    #Boxes {
      padding-bottom: 2%;

      #NameBox {
        width: 60%;
      }

      #EmailBox {
        width: 60%;
      }

      #SubjectBox {
        width: 60%;
      }

      #MessageBox {
        width: 95%;
      }
    }

    #SendButton {
      font-family: 'Space Mono', monospace;
      background-color: #96bdcc;
      position: absolute;
      left: 50%;
      padding: 10px;
    }
  }

  @media screen and (min-width: 1000) and (max-width: 1400px) {
    height: 100vh;
    width: 100vw;
    background-color: #96bdcc;
    overflow: hidden;
    position: relative;
    font-family: 'Space Mono', monospace;

    #Header {
      position: absolute;
      left: 70%;
      height: 30vh;

      #Icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        #DevToIcon {
          height: 60px;
          width: 60px;
        }

        #OctoCatIcon {
          height: 60px;
          width: 60px;
        }

        #StravaIcon {
          height: 60px;
          width: 120px;
        }
      }
    }

    #LowerBG {
      background-color: #c9ffe5;
      height: 70vh;
      width: 100vw;
      position: absolute;
      top: 30%;
    }

    #ContactForm {
      height: 50vh;
      width: 50vw;
      border-radius: 25px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #c9ffe5;

      #Boxes {
        padding-bottom: 2%;

        #NameBox {
          width: 60%;
        }

        #EmailBox {
          width: 60%;
        }

        #SubjectBox {
          width: 60%;
        }

        #MessageBox {
          width: 95%;
        }
      }

      #SendButton {
        font-family: 'Space Mono', monospace;
        background-color: #96bdcc;
        position: absolute;
        left: 50%;
        padding: 4px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1201px) {
    #Header {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      height: 30vh;

      #Title {
        text-align: center;
      }

      #Icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        #DevToIcon {
          height: 75px;
          width: 75px;
        }

        #OctoCatIcon {
          height: 75px;
          width: 75px;
        }

        #StravaIcon {
          height: 75px;
          width: 150px;
        }
      }

      #LowerBG {
        height: auto;
        width: 100vw;
        overflow: auto;
      }

      #ContactForm {
        height: auto;
        width: 50vw;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #c9ffe5;
    
        #Boxes {
          padding-bottom: 2%;
    
          #NameBox {
            width: 60%;
          }
    
          #EmailBox {
            width: 60%;
          }
    
          #SubjectBox {
            width: 60%;
          }
    
          #MessageBox {
            width: 95%;
          }
        }
    }
  }
}

  @media screen and (min-width: 300px) and (max-width: 850px) {
    height: 120vh;
    width: 100vw;

    #Header {
      height: 10vh;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

      #Title {
        text-align: center;
      }

      #Icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        #DevToIcon {
          height: 40px;
          width: 40px;
        }

        #OctoCatIcon {
          height: 40px;
          width: 40px;
        }

        #StravaIcon {
          height: 40px;
          width: 105px;
        }

        #RWGPSIcon {
          height: 40px;
          width: 40px;
        }
      }
    }

    #ContactForm {
      height: 100vh;
      width: 60vw;
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #c9ffe5;


      #Boxes {
        padding-bottom: 2%;

        #NameBox {
          width: 80%;
        }

        #EmailBox {
          width: 80%;
        }

        #SubjectBox {
          width: 80%;
        }

        #MessageBox {
          width: 95%;
        }
      }

      #SendButton {
        font-family: 'Space Mono', monospace;
        background-color: #96bdcc;
        position: absolute;
        left: 50%;
        padding: 10px;
      }
    }

    #LowerBG {
      background-color: #c9ffe5;
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow-y: auto;
      top: 20%;
    }
  }  
}