#Home {
  background-color: #C6EDE6;

  @media screen and (min-width: 486px) {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    #PhotoCard {
      height: auto;
      width: 70vw;
    }

    #SideNavBar {
      height: 100vh;
      width: 30vw;
    }
  }

@media screen and (min-width: 300px) and (max-width: 485px) {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;

  #PhotoCard {
    height: auto;
    width: 100vw;
  }

  #SideNavBar {
    height: 50vh;
    width: 100vw;
  }
}
}