@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#CFCard {
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  font-family: 'Space Mono', monospace;
  background-color: rgba(67, 137, 167, 0.358);
  display: flex;
  flex-direction: row;

  #CFTitle {
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: 28px;
    text-decoration: none;
    padding-bottom: 50px;
    color: black;
  }

  #CFPhoto {
    height: 50vh;
    width: 50vw;
    align-self: left;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  #CFWriteUp {
    width: 66vh;
    height: 100%;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    padding-bottom: 100px;
    padding-left: 40px;
  }

  .CFPhotoAndWriteUp {
    flex-direction: row;
    height: 100%;
    margin: 0;
    display: flex;
    
  }
}
