@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#CFCardAndTitle {
  background-color: rgba(67, 137, 167, 0.358);
  font-family: 'Space Mono', monospace;

  #CFTitle {
    text-align: center;
    font-size: 34px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #CFCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100vw;

    #CFPhoto {
      height: 48vh;
      width: 48vw;
    }

    #CFWriteUp {
      width: 66vh;
      align-self: center;
      justify-content: center;
      text-align: center;
      font-size: 22px;
    }
  }
}
