@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#CFCardAndTitle {
  background-color: #96bdcc;
  font-family: 'Space Mono', monospace;

  #CFTitle {
    text-align: center;
    font-size: 34px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #CFCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100vw;

    #CFPhoto {
      height: 48vh;
      width: 48vw;
    }

    #CFWriteUp {
      width: 66vh;
      align-self: center;
      justify-content: center;
      text-align: center;
      font-size: 22px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1223px) {
    #CFTitle {
      text-align: center;
      font-size: 34px;
      text-decoration: none;
      color: black;
      position: absolute;
      top: 72%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      padding-bottom: 4%;
    }

    #CFCard {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      height: 68vh;
      width: 100vw;

      #CFPhoto {
        padding-top: 23%;
        height: 28vh;
        width: 50vw;
      }

      #CFWriteUp {
        width: 66vh;
        align-self: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    #CFTitle {
      text-align: center;
      font-size: 24px;
      text-decoration: none;
      color: black;
      position: absolute;
      top: 84%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      padding-bottom: 7%;
    }

    #CFCard {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      height: 75vh;
      width: 100vw;

      #CFPhoto {
        position: absolute;
        top: 86%;
        left: 25%;
        height: 28vh;
        width: 50vw;
      }

      #CFWriteUp {
        width: 45vh;
        align-self: center;
        justify-content: center;
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
