@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#PhotoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  font-size: 28px;
  text-align: center;

  @media screen and (min-width: 485px) {
    #PhotoOfMe {
      margin:auto;
      height: 72vh;
      width: auto;
      border-radius: 70px;
      object-fit: contain;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 485px) {
    #PhotoOfMe {
      height: auto;
      width: 60vh;
      object-fit: scale-down;
    }
  }
}
