@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#photoCard {
  #photoOfMe {
    height: 100%;
    width: 100%;
  }

  .text-block {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    padding: 30px 34px 30px 34px;
    width: 14%;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 2%;
    text-align: center;
    background-color: #2e2315;
    opacity: 0.8;
    color: black;
    color: #c6ede6;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    .text-block {
      visibility: hidden;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .text-block {
      position: absolute;
      left: 10%;
      padding: 30px 60px 30px 50px;
    }
  }
}
