@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#RDCardAndTitle {
  background-color: #c4fffe;
  font-family: 'Space Mono', monospace;

  #RDTitle {
    text-align: center;
    font-size: 34px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #RDCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100vw;

    #RDPhoto {
      height: 48vh;
      width: 48vw;
    }

    #RDWriteUp {
      width: 66vh;
      align-self: center;
      justify-content: center;
      text-align: center;
      font-size: 22px;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    #RDTitle {
      text-align: center;
      font-size: 24px;
      text-decoration: none;
      color: black;
      position: absolute;
      top: 2%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    #RDCard {
      display: flex;
      flex-direction: column;
      height: 80vh;
      width: 100vw;

      #RDPhoto {
        height: 25vh;
        width: 50vw;
        padding-top: 7%;
      }

      #RDWriteUp {
        height: 35vh;
        width: 45vh;
        font-size: 16px;
        margin-top: 3%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1223px) {
    #RDTitle {
      text-align: center;
      font-size: 34px;
      text-decoration: none;
      color: black;
      position: absolute;
      top: 2%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    #RDCard {
      display: flex;
      flex-direction: column;
      height: 68vh;
      width: 100vw;

      #RDPhoto {
        height: 24vh;
        width: 50vw;
        margin-top: 15%;
      }

      #RDWriteUp {
        width: 80vw;
        height: 25vh;
        font-size: 18px;
      }
    }
  }
}
